<!DOCTYPE html>
<html>
  <head>
    <title>PollEveryone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>
    
    <script src="https://kit.fontawesome.com/24cc9dca36.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
